head
	link(rel="shortcut icon" type="image/png" href="/images/favicon.ico")
	title Don't Leave Me Hanging
	link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(href='/stylesheets/css/materialize.min.css' rel='stylesheet' media="screen,projection")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")