//- when button is clicked post request to askhf which creates high five
form(action='/askhf' method='POST')
	//- navigator is front-end function so getlocation must be done here, and posted to server
	button(type='submit' onclick="validateLocation()") Don't leave me hanging