p Calculating your location...
//- when button is clicked post request to askhf which creates high five
form#hfaskform(action='/askhf' method='POST')
	//- navigator is front-end function so getlocation must be done here, and posted to server
	button#hfaskbutton(type='submit') Don't leave me hanging