h1 Log in
form(action='/login' method='POST')
	label
	input(name='loginemail' placeholder='Email' required autofocus pattern='.{1,255}' title="User name can't be more than 255 characters")
	label
	input(name='loginpassword' placeholder='Password' type='password' required pattern='.{1,255}' title="Password can't be more than 255 characters")
	button(type='submit') Log in