div.change-password-container
	h4 Change password
	form(name='newPasswordForm' method='POST' action='/profile/changePassword')
		input(name='newPassword' id='newPassword' type='password')
		label(for='newPassword') New password
		input(name='confirmNewPassword' id='confirmNewPassword' type='password')
		label(for='confirmNewPassword') Confirm new password
		input(type='submit' value='Confirm')