.collapsible-header.waves-effect.waves-light
	h4 Change password
.collapsible-body
	form(name='newPasswordForm' method='POST' action='/profile/changePassword')
		.row
			.input-field.col.s12
				input(name='newPassword' id='newPassword' type='password' required pattern='.{8,255}' onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters' : ''); if(this.checkValidity()) form.confirmPassword.pattern = this.value;")
				label(for='newPassword') New password
		.row
			.input-field.col.s12
				input(name='confirmNewPassword' id='confirmNewPassword' type='password' required pattern='.{8,255}' onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same password' : '');")
				label(for='confirmNewPassword') Confirm new password
		button.btn.waves-effect.waves-light(type='submit') Confirm