div.change-name-container
	h4 Change name
	form(name='newNameForm' method='POST' action='/profile/changeName')
		input(name='newName' id='newName' type='text')
		label(for='newName') New name
		input(type='submit' value='Confirm')