div.change-name-container
	h4 New name
	form(name='newName' method='POST' action='/profile/changeName')
		input(name='name' id='name1' type='text')
		label(for='name1') New name
		input(type='submit' value='Confirm')