.collapsible-header.waves-effect.waves-light
	h4 Change username
.collapsible-body
	form(name='newNameForm' method='POST' action='/profile/changeName')
		.row
			.input-field.col.s12
				input(name='newName' id='newName' type='text' pattern='.{1,25}' title="Email can't be more than 25 characters")
				label(for='newName') New username
		button.btn.waves-effect.waves-light(type='submit') Confirm