.collapsible-header.waves-effect.waves-light
	h4 Change password
.collapsible-body
	form(name='newPasswordForm' method='POST' action='/profile/changePassword')
		.row
			.input-field.col.s12
				input(name='newPassword' id='newPassword' type='password')
				label(for='newPassword') New password
		.row
			.input-field.col.s12
				input(name='confirmNewPassword' id='confirmNewPassword' type='password')
				label(for='confirmNewPassword') Confirm new password
		button.btn.waves-effect.waves-light(type='submit') Confirm