div.change-password-container
	h4 Change password
	form(name='newPassword' method='POST' action='/profile/changePassword')
		input(name='password' id='password1' type='password')
		label(for='password1') New password
		input(name='password2' id='password2' type='password')
		label(for='password2') Confirm new password
		input(type='submit' value='Confirm')