h1 Register
form(action='/register' method='POST')
	label
	//- required makes sure html will not submit (make post request to back end) when a field is empty
	//- pattern that it isn't more than 255 characters
	input(name='name' placeholder='Name' required pattern='.{1,255}' title="User name can't be more than 255 characters")
	label
	//- type makes sure html will not submit (make post request to back end) when a field gets the wrong type of input
	input(name='email' placeholder='Email' type='email' required pattern='.{1,255}' title="Email can't be more than 255 characters")
	label
	//- pattern makes sure lentgh is at least 8
	//- onchange that it matches confirmPassword
	input(name='password' placeholder='Password' type='password' pattern='.{8,255}' required onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters' : ''); if(this.checkValidity()) form.confirmPassword.pattern = this.value;")
	label
	//- pattern makes sure lentgh is at least 8
	//- onchange that it matches confirmPassword
	input(name='confirmPassword' type='password' pattern='.{8,255}' required onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same password' : '');" placeholder='Confirm password')
	button(type='submit') Register