if matchedPath === 'HFAsk'
	p#timeString
	p#username
	p#location
	p You are a Asker

if matchedPath === 'HFGive'
	p#timeString
	p#username
	p#location
	p You are a Giver

if matchedPath === null
	p null
