if matchedPath === 'HFAsk'
	h4#asker You received a high five!
	p#success-message
	a(href='/')
		button Ok cool

if matchedPath === 'HFGive'
	h4#giver You gave a high five!
	p#success-message
	a(href='/')
		button Ok cool

if matchedPath === null
	p