html
	include includes/header.pug
	
	body#index
		include includes/nav.pug
		include includes/hfaskbutton.pug
		include includes/hfgivebutton.pug
		script.
			if(window.location.search === "?message=Oops"){
				alert("Oops! Somebody beat you to it.")
			}
		include includes/footer.pug
			