html
	include includes/header.pug
	
	body
		include includes/nav.pug
		include includes/profile-show-name-email.pug

		include includes/profile-change-email.pug

		include includes/profile-change-name.pug

		include includes/profile-change-password.pug

		include includes/logout.pug

		include includes/askresult.pug

		include includes/footer.pug