html
	include includes/header.pug
	
	body#register-login
		main.container
			section.row.title-container
				h1.title Don't leave me hanging

			section.register-container.row
				.form-container.col.l5.m5.s11
					include includes/register.pug
				.form-container.col.l5.offset-l1.m5.offset-m1.s11
					include includes/login.pug
					if (message)
						.card.hoverable
							.card-content
								p.message #{message}
			
			//- shows message when it's send from the backend 
		include includes/footer.pug