section {
	margin-top: 80px;
	margin-bottom: 80px;
}

.title-container {
	margin-top: 50px;
	margin-bottom:90px;
}

.title {
	line-height:2em;
	letter-spacing: 3px;
	font-size: 80px;
}

input {
	color:white;
}

.form-title {
	margin-bottom: 35px;
}

.card {
	border: 3px solid black;
}

button {
	// border: 1px solid black;
}

p {
	color: white;
	text-shadow: 3px 3px 0px black;
	font-weight: bold;
	font-size: 30px;	
}